Repository xataio/xata-py, pull requests merged in 2023-07, with the labels that each got.

#121 Increase tests for files access
  tests/integration-tests/files_access.py
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/records_file_operations_test.py
  tests/integration-tests/table_test.py
  tests/integration-tests/utils.py
  xata/namespace.py
Labels: tests/integration-tests

#122 Backport: Files access test
  tests/integration-tests/files_access.py
Labels: tests/integration-tests

#123 files array tests
  tests/integration-tests/_files_multiple_files_test.py_
  tests/integration-tests/files_multiple_files_test.py
  tests/integration-tests/utils.py
Labels: tests/integration-tests

#124 Backport: files array
  tests/integration-tests/files_multiple_files_test.py
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/records_file_operations_test.py
  tests/integration-tests/utils.py
Labels: tests/integration-tests

#127 Refactor/fixes
  tests/integration-tests/authentication_test.py
  tests/integration-tests/branch_test.py
  tests/integration-tests/databases_test.py
  tests/integration-tests/files_multiple_files_test.py
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/records_test.py
  tests/integration-tests/search_and_filter_test.py
  tests/integration-tests/table_test.py
  xata/api/files.py
  xata/api_response.py
  xata/helpers.py
Labels: tests/integration-tests, breaking change

#129 Add failIfMissing option to delete
  tests/integration-tests/helpers_transaction_test.py
  xata/helpers.py
Labels: helpers/transactions, tests/integration-tests, backport 0.x

#130 Refactor exceptions
  tests/integration-tests/databases_test.py
  xata/api/authentication.py
  xata/errors.py
  xata/helpers.py
  xata/namespace.py
Labels: tests/integration-tests, breaking change

#132 Release 1.0.0a1
  Makefile
  poetry.lock
  pyproject.toml
  tests/unit-tests/utils.py
  xata/client.py
Labels: release

#133 Prep 1.0.0a2
  codegen/generator.py
  codegen/templates/endpoint.tpl
  docs/api.rst
  docs/conf.py
  docs/index.rst
  pyproject.toml
  tests/integration-tests/api_response_test.py
  tests/integration-tests/branch_test.py
  xata/api/authentication.py
  xata/api/branch.py
  xata/api/databases.py
  xata/api/invites.py
  xata/api/migrations.py
  xata/api/records.py
  xata/api/search_and_filter.py
  xata/api/table.py
  xata/api/users.py
  xata/api/workspaces.py
  xata/api_response.py
  xata/client.py
  xata/helpers.py
  xata/namespace.py
Labels: codegen, tests/integration-tests, release

#134 Nicer DB rename method
  codegen/api-rename-mapping.json
  codegen/templates/database_rename.tpl
  codegen/templates/workspace_create.tpl
  docs/api.rst
  examples/pagination.py
  poetry.lock
  pyproject.toml
  tests/integration-tests/api_response_test.py
  tests/integration-tests/branch_test.py
  tests/integration-tests/databases_test.py
  tests/integration-tests/files_access.py
  tests/integration-tests/files_multiple_files_test.py
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/helpers_bulkprocessor_test.py
  tests/integration-tests/utils.py
  tests/integration-tests/workspaces_test.py
  xata/api/branch.py
  xata/api/databases.py
  xata/api/migrations.py
  xata/api/records.py
  xata/api/table.py
  xata/api/workspaces.py
  xata/api_response.py
  xata/client.py
Labels: codegen, tests/integration-tests

#135 New logo
  README.md
  logo.svg
Labels: backport 0.x

#137 Generic logo coloring
  logo.svg
Labels: backport 0.x

#138 logos
  README.md
  assets/logo_dark.svg
  assets/logo_light.svg
  logo.svg
Labels: backport 0.x

#139 Mark endpoints as experimental if indicated in the spec
  codegen/generator.py
  codegen/templates/endpoint.tpl
  xata/api/records.py
Labels: helpers/bulk-processor, codegen

#143 Add tests for revlinks
  tests/integration-tests/search_and_filter_revlinks_test.py
Labels: tests/integration-tests, backport 0.x

#145 Add revlinks integration tests
  poetry.lock
  tests/integration-tests/search_and_filter_revlinks_test.py
Labels: dependencies, tests/integration-tests

#146 update deps
  poetry.lock
Labels: dependencies

#147 Rework Ask API
  Makefile
  codegen/api-rename-mapping.json
  codegen/templates/data_ask.tpl
  codegen/templates/data_ask_follow_up.tpl
  tests/integration-tests/records_branch_transactions_test.py
  tests/integration-tests/records_file_operations_test.py
  tests/integration-tests/records_test.py
  tests/integration-tests/search_and_filter_ask_table_test.py
  tests/integration-tests/search_and_filter_revlinks_test.py
  tests/integration-tests/utils.py
  xata/api/search_and_filter.py
Labels: codegen, tests/integration-tests
