Repository xataio/xata-py, pull requests merged in 2023-08, with the labels that each got.

#151 Revert min py version to 3.8
  poetry.lock
  pyproject.toml
  tests/integration-tests/records_branch_transactions_test.py
  xata/client.py
Labels: tests/integration-tests, release

#152 Increase dotenv version dependency
  poetry.lock
  pyproject.toml
  xata/client.py
Labels: dependencies, release

#153 Streaming response
  codegen/api-rename-mapping.json
  codegen/templates/data_ask.tpl
  codegen/templates/data_ask_follow_up.tpl
  pyproject.toml
  tests/integration-tests/search_and_filter_ask_table_test.py
  tests/integration-tests/search_and_filter_test.py
  xata/api/authentication.py
  xata/api/search_and_filter.py
  xata/api_request.py
  xata/client.py
Labels: enhancement, codegen, tests/integration-tests

#154 Updating the read-the-docs generated docs
  docs/api.rst
  docs/index.rst
Labels: backport 0.x

#157 Shorten upsert API
  codegen/api-rename-mapping.json
  codegen/generator.py
  docs/index.rst
  pyproject.toml
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/records_file_operations_test.py
  tests/integration-tests/records_test.py
  xata/api/records.py
  xata/api/search_and_filter.py
  xata/client.py
Labels: tests/integration-tests, release, breaking change

#158 shorten update API
  codegen/api-rename-mapping.json
  pyproject.toml
  tests/integration-tests/records_test.py
  xata/api/records.py
Labels: tests/integration-tests, release, breaking change

#149 SQL support
  docs/api.rst
  tests/integration-tests/sql_query_test.py
  tests/integration-tests/utils.py
  xata/api/sql.py
  xata/client.py
Labels: enhancement, tests/integration-tests, backport 0.x

#160 Backport/sql support
  docs/api.rst
  poetry.lock
  pyproject.toml
  tests/integration-tests/files_single_file_test.py
  tests/integration-tests/records_file_operations_test.py
  tests/integration-tests/sql_query_test.py
  xata/client.py
  xata/namespaces/sql.py
Labels: dependencies, release

#163 Add Oauth endpoints
  codegen/api-rename-mapping.json
  codegen/templates/data_query.tpl
  poetry.lock
  tests/integration-tests/search_and_filter_query_test.py
  xata/api/oauth.py
Labels: codegen, backport 0.x

#159 Release 1.0.0 GA
  pyproject.toml
  tests/integration-tests/search_and_filter_ask_table_test.py
  tests/integration-tests/sql_query_test.py
  xata/client.py
Labels: dependencies, release

#156 Transform operations
  .github/workflows/pull-request.yml
  pyproject.toml
  tests/data/attachments/images/03.png
  tests/integration-tests/files_transormations_test.py
  tests/unit-tests/client_init_test.py
  xata/api/files.py
  xata/api/oauth.py
  xata/client.py
Labels: tests/integration-tests, release

#166 Backport: Transformation
  poetry.lock
  pyproject.toml
  tests/data/attachments/images/03.png
  tests/integration-tests/files_transormations_test.py
  xata/client.py
  xata/namespaces/files.py
Labels: enhancement, dependencies, tests/integration-tests, release

#167 Format JSON test
  tests/integration-tests/files_transormations_test.py
Labels: tests/integration-tests
